################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sunrise/.vs/*
.vs/*
.DS_Store
.DS_Store
Sunrise/.vs/Sunrise/xs/sqlite3/storage.ide-shm
Sunrise/.vs/Sunrise/xs/sqlite3/storage.ide-wal
Sunrise/Sunrise/obj/Debug/netcoreapp2.1/Sunrise.csprojAssemblyReference.cache
.DS_Store
*.ide-wal
*.ide-wal
.vs/Sunrise/xs/UserPrefs.xml
*.ide-shm
obj/*
bin/*
