################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sunrise/.vs/Sunrise/v15/Server/sqlite3/db.lock
.DS_Store
.DS_Store
Sunrise/.vs/Sunrise/xs/sqlite3/storage.ide-shm
Sunrise/.vs/Sunrise/xs/sqlite3/storage.ide-wal
Sunrise/Sunrise/obj/Debug/netcoreapp2.1/Sunrise.csprojAssemblyReference.cache
.DS_Store
